* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, 
body{
    width: 100%;
    font-size: 16px; 
    background-color:#808080;
    color: rgba(46, 41, 41, 0.974);

}

main{
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


  .animate-character
{
   text-transform: uppercase;
   flex: 2;
   min-width: 650px;
   padding: 20px;
   
   background-image: linear-gradient(
    -225deg,
    #bd8c7d 0%,
    #d1bfa7 29%,
    #8e8e90 0%,
    #49494b 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-family: sans-serif;
  display: inline-block;
      font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.sidebar {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    color:#171616ec;
}


.content {
    flex: 3;
    min-width: 650px;
    padding: 5px;
    color:#d0ceceec;
}

.experience {
  flex: 1;
  min-width: 650px;
  padding: 5px;
  color:#171616ec;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #bf8f80b1;
    text-align: center;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #49494b;
    text-align: center;
}

.LinkedIn {
    width: 70px;       
    height: 70px; 
    transition: all .5s ease;    

}
.LinkedIn:hover {
  transform: scale(1.3);
}


.divspace {
  display: flex; 
  flex-direction: row;
  margin-top: 70px;  /* Adds 20px of space below the div */
}

.h2 {
  margin-bottom: 0.5em; /* Add space below headings */
}

.p,
.ul {
  margin-bottom: 1em; /* Add space below paragraphs and lists */
}

.li {
  margin-bottom: 0.5em; /* Add space between list items */
  color:#e8e8e8ec;
}

.nav {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #bd8c7d;
  position: fixed;
  overflow: auto;
  font-size: 40px;
  font-weight: bolder;
  z-index: 1;
  top: 0;
  left: 0;
}

.pic {
  width: 150px;       
  height: 170px; 
  transition: all .5s ease;    
}

.nav-list {
  margin-bottom: 10px;
  margin-left: 10px;
}

a {
  color: black; /* Change the color to black */
  text-decoration: none; /* Optional: removes the underline */
}

/* If you want to style links differently on hover */
a:hover {
  color: gray; /* Change color on hover */
}

/* For visited links, if you want them to have a different color */
a:visited {
  color: rgb(0, 0, 0); /* Change the color for visited links */
}